.ui-expand { width: 100%; }
.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px !important;
}

.dcjq-mega-menu ul.menu li a {
    border: 1px solid #77D5F7;
    background: #0078AE;
    font-weight: normal;
    color:black;
}

tr.inactive {
    background-image: none;
    background-color: #CCCCCC;
    color: #3D3D3D;
}
tr.amarillo {
    background-image: none;
    background-color: #F3F781;
    color: #3D3D3D;
}
tr.rojo {
    background-image: none;
    background-color: #FA5858;
    color: #3D3D3D;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #FFFFFF;
  background: #FFFFFF 50% 50% repeat;
  font-weight: bold;
  color: #3D3D3D;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #CCCCCC;
  background: #CCCCCC 50% 50% repeat;
  color: #363636;
}

/*
 * Clase para que no aparezca borde en los panelGrid
 */
.panelGridNoBorder  {
    border: none !important;
}

.ui-panelgrid .ui-panelgrid-cell{
    border-width: 0px;
}

.noborder .ui-widget-content {
    border: 0px;
}
